<title>Change Password</title>
<style>
    input[type=button], input[type=submit] {
        -webkit-appearance: button;
        cursor: pointer;
        width: 130px;
    }
    .form-horizontal .form-group {
        margin-right: 0px;
        margin-left: 0px;
    }
</style>

<h1 class="page-header" align="center" style="margin-top: 20px">欢迎使用安全帽检测系统</h1>
<h3 align="center" style="margin-top: 40px">修改密码</h3>
<br>
<div align="center">
    <div align="left" style="width: 280px; height: 150px">
    <!--<form action="{{ url_for('login') }}" method="post" class="form" role="form">
        &lt;!&ndash;input id="csrf_token" name="csrf_token" type="hidden" value="IjkyOGZkOGUwZTI3YmQwYTYzY2EwNDExM2I2MzM4ODMxMDQ1NjkyYzgi.YFyHXA.cxIRSaVvZiqyVXtd6KpAkxkAlqQ"&ndash;&gt;
        <div class="form-group  required"><label class="control-label" for="password">新密码</label>
            <input class="form-control" id="password" name="password" required type="password" value="">
        </div>
        <div class="form-group  required"><label class="control-label" for="confirm">确认密码</label>
            <input class="form-control" id="confirm" name="confirm" required type="password" value="">
        </div>
        <input class="btn btn-default" style="width: 140px" id="submit" name="submit" type="submit" value="确认">
        <input class="btn btn-default" id="reset" style="width: 140px; margin-left: 15px" name="reset" type="reset" value="取消">
    </form>-->
        <form action="{{url_for('change_password', username=current_user.username)}}" class="form form-horizontal" method="post" role="form">
            {% import 'bootstrap/wtf.html' as wtf %}
            {{ form.hidden_tag() }}
            {{ wtf.form_errors(form, hiddens="only") }}
            {{ wtf.form_field(form.old_password) }}
            {{ wtf.form_field(form.password) }}
            {{ wtf.form_field(form.confirm) }}
            {{ wtf.form_field(form.submit) }}
            <input class="btn btn-default" id="reset" style="width: 130px; margin-left: 15px" name="reset" type="reset" value="取消">
        </form>
    </div>
</div>

