<link href="{{ url_for('static', filename='css/imgdet.css') }}" rel="stylesheet">
<h1 class="page-header" align="center" style="margin-top: 5px">欢迎使用安全帽检测系统</h1>
<h4 align="center"><strong>图片检测</strong><br></h4>
<div align="center">
	<img src="/static/img/file_load.png" id="upload" name="upload" style="width: 750px; height: 421px; background-color: #eeedcb">
	<div class="file_area_btn">
		<span>选择本地文件</span>
		<input class="input_file" type="file" id="file" accept=".jpg,.png,.jpeg" onchange="showOriginalImg(this)" value="选择本地文件">
	</div>
	<div>
		<button class="button_style" onclick="showResultImg()">确认</button>
	</div>
</div>
<script type="text/javascript">
    function showOriginalImg(input) {
        var file = input.files[0];
        var reader = new FileReader()
        // 图片读取成功回调函数
		reader.onload = function(e) {
			document.getElementById('upload').src=e.target.result
		}
        reader.readAsDataURL(file)
    }
    function showResultImg() {
    	var formdata = new FormData()
		formdata.append('file', $('#file')[0].files[0])
		alert("检测中，请等待一回儿！")
    	$.ajax({
            url:"{{ url_for('image_detection_action') }}",
			data:formdata,
            type:"post",
            dataType:'json',
			processData: false,
    		contentType: false,
            success:function(data){
				$('#upload').attr('src', data.filepath_result+'?'+Math.random()*100);
				alert("检测成功！");
            },
            error:function(e){
                 alert("请求出错！");
            }
        })
    }
</script>