<div align="center">
    <a href="#">返回顶端</a>
</div>
<div class="footer" style="background-color: #222; height: 80px; width: available">
    <div class="page-width clearfix" style="border-top: 1px solid #1e73be">
        <div class="module-default module-no-margin">
            <div>
                <p style="text-align: center; color: white; margin-top: 40px">版权所有©段金忠 |
                    地址：郑州市高新区莲花街100号
                    邮编：450001
                    电子邮箱：3339792557@qq.com
                    电话：13253549760
                    |  豫ICP备88888888号 郑公信备8888888888888号
                </p>
            </div>
        </div>
    </div>
</div>


