{% extends 'common/base.html' %}
{% block title %}
    Reset Password
{% endblock title %}

{%- block styles %}
    {{super()}}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/changepassword.css') }}" />
    <style>
        input[type=button], input[type=submit] {
            -webkit-appearance: button;
            cursor: pointer;
            width: 130px;
        }
        .form-horizontal .form-group {
            margin-right: 0px;
            margin-left: 0px;
        }
    </style>
{%- endblock styles %}

{% block navbar %}

{%- endblock navbar %}

{% block app_content %}
<body style="overflow: hidden">
    <h1 align="center" style="margin-top: 180px; color: black" >重置密码</h1>
    <br>
    <div align="center">
        <div align="left" style="width: 280px; height: 150px">
        <!--<form action="" method="post" class="form" role="form">
            &lt;!&ndash;input id="csrf_token" name="csrf_token" type="hidden" value="IjkyOGZkOGUwZTI3YmQwYTYzY2EwNDExM2I2MzM4ODMxMDQ1NjkyYzgi.YFyRww.c_-KYMGI-YwrAcBnDoBQMemCTaM"&ndash;&gt;
                <div class="form-group  required"><label class="control-label" for="password">密码</label>
                    <input class="form-control" id="password" name="password" required type="password" value="">
                </div>
                <div class="form-group  required"><label class="control-label" for="confirm">确认密码</label>
                    <input class="form-control" id="confirm" name="confirm" required type="password" value="">
                </div>
            <input class="btn btn-default" style="width: 140px" id="submit" name="submit" type="submit" value="确认">
            <input class="btn btn-default" id="reset" style="width: 140px; margin-left: 15px" name="reset" type="reset" value="取消">
            {{ form.csrf_token }}
        </form>-->
            <form class="form form-horizontal" method="post" role="form">
                {% import 'bootstrap/wtf.html' as wtf %}
                {{ form.hidden_tag() }}
                {{ wtf.form_errors(form, hiddens="only") }}
                {{ wtf.form_field(form.password) }}
                {{ wtf.form_field(form.confirm) }}
                {{ wtf.form_field(form.submit) }}
                <input class="btn btn-default" id="reset" style="width: 130px; margin-left: 15px" name="reset" type="reset" value="取消">
            </form>
        </div>
    </div>
</body>
{% endblock app_content %}