{% extends 'common/base.html' %}
{% block title %}
    Send Password Reset Request
{% endblock title %}

{%- block styles %}
    {{super()}}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sendemail.css') }}" />
    <style>
        input[type=button], input[type=submit] {
            -webkit-appearance: button;
            cursor: pointer;
            width: 130px;
        }
        .form-horizontal .form-group {
            margin-right: 0px;
            margin-left: 0px;
        }
    </style>
{%- endblock styles %}

{% block content %}
    <h1 align="center" style="margin-top: 300px">发送重置密码电子邮件</h1>
    <br>
    <div align="center">
        <div align="left" style="width: 280px; height: 150px">
            <!--<form action="" method="post" class="form" role="form">
                &lt;!&ndash;input id="csrf_token" name="csrf_token" type="hidden" value="IjkyOGZkOGUwZTI3YmQwYTYzY2EwNDExM2I2MzM4ODMxMDQ1NjkyYzgi.YFyCjQ.XzW6c-6-XRdDqYhrHOwfFNSfmL4"&ndash;&gt;
                <div class="form-group  required"><label class="control-label" for="email">邮箱</label>
                    <input class="form-control" id="email" name="email" required type="text" value="">
                </div>
                    <input class="btn btn-default" style="width: 140px" id="submit" name="submit" type="submit" value="发送">
                    <input class="btn btn-default" id="reset" style="width: 140px; margin-left: 15px" name="reset" type="reset" value="取消">
                    {{ form.csrf_token }}
            </form>-->
            <form class="form form-horizontal" method="post" role="form">
                {% import 'bootstrap/wtf.html' as wtf %}
                {{ form.hidden_tag() }}
                {{ wtf.form_errors(form, hiddens="only") }}
                {{ wtf.form_field(form.email) }}
                {{ wtf.form_field(form.submit) }}
                <input class="btn btn-default" id="reset" style="width: 130px; margin-left: 15px" name="reset" type="reset" value="取消">
            </form>
        </div>
    </div>
    {{super()}}
{% endblock %}